
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2em;
}

.banner {
  border-radius: 20%;
}
.button {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: -1em;
  color: #4f4f4f;
}
 .time {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #f0dbdb;
  width: 80%;
  font-size: 15px;
}

.timeline {

  background-color: #19ac8c;
  width: 80%;

}

input[type="range"] {
  background-color: #e8d50b;
}



  .buttonsContainer{
    padding: 10px;
  }


  .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid white;
    text-align: center;
    padding: 5px;
    background-color: rgb(97, 103, 138);
    border-radius: 5%;
    width: 35rem;
    height: 35rem;
  }
  
  #next-song {
    color: rgb(240, 158, 65);
    font-weight: 800;
  }
  
  .playlist {
    overflow-y: scroll;
  }
  
  .list-items {
    color: black;
    list-style-type: none;
    background-color: rgb(252, 245, 146);
    padding: 10px 30px;
    border-radius: 0.5rem ;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.7;
    margin:12px;
    text-align: start;
  }
  .list-items:hover{
    background-color: rgb(238, 232, 150);
    padding: 8px 26px;
    margin:14px;

  }
  .audioPlayer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:100px;
    background-color: rgb(241, 218, 187);
  }
  .audioPlayer audio{
padding: 5px 50px;
width: 90%;
margin: 5px;
  }
  
  .upload {
    position: relative;
    overflow: hidden;
    padding:20px;

  }
.uploadLabel{
  display: inline-block;
  padding: 10px 20px;
  background-color: #8890af;
  color: #fcf7f7; 
  border-radius: 5px;
  cursor: pointer;
}


.uploadLabel input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.uploadLabel:hover {
  background-color: #99afbe; 
}
 
  